# Ignore Windows system files
.DS_Store
Thumbs.db
desktop.ini
NTUSER.DAT*
AppData/
Downloads/
Music/
Videos/
VirtualBox VMs/

# Ignore VS Code settings
.vscode/
.vscode/extensions/

# Ignore dependencies
node_modules/
package-lock.json
package.json
